[Unit]
Description=MySQL Server
Documentation=man:mysqld(8)
Documentation=http://dev.mysql.com/doc/refman/en/using-systemd.html
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
User=mysql
Group=mysql
PIDFile=/data/mysql/run/data/mysql.pid
TimeoutSec=0
PermissionsStartOnly=true
ExecStart=/data/mysql/bin/mysqld --daemonize --pid-file=/data/mysql/run/mysql.pid
LimitNOFILE = 5000
Restart=on-failure
RestartPreventExitStatus=1
PrivateTmp=false